<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MDOCOK</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
  		org.springframework.web.context.ContextLoaderListener
  	</listener-class>
  </listener>
  <listener>
    <listener-class>
  		org.springframework.web.context.request.RequestContextListener
  	</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>NewContactServlet</display-name>
    <servlet-name>NewContactServlet</servlet-name>
    <servlet-class>servlets.NewContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewContactServlet</servlet-name>
    <url-pattern>/NewContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContactServlet</display-name>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>servlets.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/DeleteContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindContactServlet</display-name>
    <servlet-name>FindContactServlet</servlet-name>
    <servlet-class>servlets.FindContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindContactServlet</servlet-name>
    <url-pattern>/FindContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContactServlet</display-name>
    <servlet-name>UpdateContactServlet</servlet-name>
    <servlet-class>servlets.UpdateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContactServlet</servlet-name>
    <url-pattern>/UpdateContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintAllContactsServlet</display-name>
    <servlet-name>PrintAllContactsServlet</servlet-name>
    <servlet-class>servlets.PrintAllContactsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintAllContactsServlet</servlet-name>
    <url-pattern>/PrintAllContactsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitUpdateServlet</display-name>
    <servlet-name>InitUpdateServlet</servlet-name>
    <servlet-class>servlets.InitUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitUpdateServlet</servlet-name>
    <url-pattern>/InitUpdateServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CheckValideFilter</display-name>
    <filter-name>CheckValideFilter</filter-name>
    <filter-class>filters.CheckValideFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckValideFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionServlet</display-name>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>servlets.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/DeconnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintAllGroupsServlet</display-name>
    <servlet-name>PrintAllGroupsServlet</servlet-name>
    <servlet-class>servlets.PrintAllGroupsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintAllGroupsServlet</servlet-name>
    <url-pattern>/PrintAllGroupsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindContactGroupServlet</display-name>
    <servlet-name>FindContactGroupServlet</servlet-name>
    <servlet-class>servlets.FindContactGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindContactGroupServlet</servlet-name>
    <url-pattern>/FindContactGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>servlets.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFriendServlet</display-name>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>servlets.AddFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/AddFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyProfileServlet</display-name>
    <servlet-name>MyProfileServlet</servlet-name>
    <servlet-class>servlets.MyProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyProfileServlet</servlet-name>
    <url-pattern>/MyProfileServlet</url-pattern>
  </servlet-mapping>
</web-app>